/* /Pages/Login.razor.rz.scp.css */
.logo[b-uejfjchll3] {
    font-family: "Fira Code", sans-serif;
    text-transform: uppercase;
}

.field[b-uejfjchll3] {
    margin-top: 20px;
}


.login[b-uejfjchll3] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.login:hover[b-uejfjchll3]{
    box-shadow: 0 2px 10px 2px #3f3f3f;
    transition: ease-in-out 0.1s;
}

.signup[b-uejfjchll3] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.signup[b-uejfjchll3]{
    transition: ease-in-out 0.1s;
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-10xswk6gls] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #11104a;
    color: ghostwhite;
    width: 100%;
    height: 100%;
}

main[b-10xswk6gls] {
    flex: 1;
    
}

.sidebar[b-10xswk6gls] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-10xswk6gls] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-10xswk6gls]  a, .top-row[b-10xswk6gls]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-10xswk6gls]  a:hover, .top-row[b-10xswk6gls]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-10xswk6gls]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-10xswk6gls] {
        display: none;
    }

    .top-row.auth[b-10xswk6gls] {
        justify-content: space-between;
    }

    .top-row[b-10xswk6gls]  a, .top-row[b-10xswk6gls]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-10xswk6gls] {
        flex-direction: row;
    }

    .sidebar[b-10xswk6gls] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-10xswk6gls] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-10xswk6gls]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-10xswk6gls], article[b-10xswk6gls] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-w1gechgd97] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-w1gechgd97] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-w1gechgd97] {
    font-size: 1.1rem;
}

.oi[b-w1gechgd97] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-w1gechgd97] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-w1gechgd97] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-w1gechgd97] {
        padding-bottom: 1rem;
    }

    .nav-item[b-w1gechgd97]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-w1gechgd97]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-w1gechgd97]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-w1gechgd97] {
        display: none;
    }

    .collapse[b-w1gechgd97] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-w1gechgd97] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
