/* /Pages/About.razor.rz.scp.css */
h1[b-54xmlosrtd],
h2[b-54xmlosrtd],
h3[b-54xmlosrtd],
h4[b-54xmlosrtd],
h5[b-54xmlosrtd],
h6[b-54xmlosrtd] {}
a[b-54xmlosrtd],
a:hover[b-54xmlosrtd],
a:focus[b-54xmlosrtd],
a:active[b-54xmlosrtd] {
    text-decoration: none;
    outline: none;
}

a[b-54xmlosrtd],
a:active[b-54xmlosrtd],
a:focus[b-54xmlosrtd] {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul[b-54xmlosrtd] {
    margin: 0;
    padding: 0;
    list-style: none;
}
img[b-54xmlosrtd] {
    max-width: 100%;
    height: auto;
}
section[b-54xmlosrtd] {
    padding: 60px 0;
    /* min-height: 100vh;*/
}

.sec-title[b-54xmlosrtd]{
    position:relative;
    z-index: 1;
    margin-bottom:60px;
}

.sec-title .title[b-54xmlosrtd]{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #00aeef;
    font-weight: 500;
    margin-bottom: 15px;
}

.sec-title h2[b-54xmlosrtd]{
    position: relative;
    display: block;
    font-size:40px;
    line-height: 1.28em;
    color: ghostwhite;
    font-weight: 600;
    padding-bottom:18px;
}

.sec-title h2[b-54xmlosrtd]:before{
    position:absolute;
    content:'';
    left:0px;
    bottom:0px;
    width:50px;
    height:3px;
    background-color:#d1d2d6;
}

.sec-title .text[b-54xmlosrtd]{
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    margin-top: 35px;
}

.sec-title.light h2[b-54xmlosrtd]{
    color: #ffffff;
}

.sec-title.text-center h2[b-54xmlosrtd]:before{
    left:50%;
    margin-left: -25px;
}

.list-style-one[b-54xmlosrtd]{
    position:relative;
}

.list-style-one li[b-54xmlosrtd]{
    position:relative;
    font-size:16px;
    line-height:26px;
    color: ghostwhite;
    font-weight:400;
    padding-left:35px;
    margin-bottom: 12px;
}

.list-style-one li[b-54xmlosrtd]:before {
    content: "\f058";
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    font-size: 18px;
    padding: 0px;
    color: #ff2222;
    font-weight: 600;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.6;
    font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover[b-54xmlosrtd]{
    color: #44bce2;
}

.btn-style-one[b-54xmlosrtd]{
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background-color: #00aeef;
}

.btn-style-one:hover[b-54xmlosrtd]{
    background-color: #0794c9;
    color: #ffffff;
}
.about-section[b-54xmlosrtd]{
    position: relative;
    padding: 120px 0 70px;
}

.about-section .sec-title[b-54xmlosrtd]{
    margin-bottom: 45px;
}

.about-section .content-column[b-54xmlosrtd]{
    position: relative;
    margin-bottom: 50px;
}

.about-section .content-column .inner-column[b-54xmlosrtd]{
    position: relative;
    padding-left: 30px;
}

.about-section .text[b-54xmlosrtd]{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}

.about-section .list-style-one[b-54xmlosrtd]{
    margin-bottom: 45px;
}

.about-section .btn-box[b-54xmlosrtd]{
    position: relative;
}

.about-section .btn-box a[b-54xmlosrtd]{
    padding: 15px 50px;
}

.about-section .image-column[b-54xmlosrtd]{
    position: relative;
}

.about-section .image-column .text-layer[b-54xmlosrtd]{
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column[b-54xmlosrtd]{
    position: relative;
    padding-left: 80px;
    padding-bottom: 0px;
}
.about-section .image-column .inner-column .author-desc[b-54xmlosrtd]{
    position: absolute;
    bottom: 16px;
    z-index: 1;
    background: orange;
    padding: 10px 15px;
    left: 96px;
    width: calc(100% - 152px);
    border-radius: 50px;
}
.about-section .image-column .inner-column .author-desc h2[b-54xmlosrtd]{
    font-size: 21px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    margin: 0;
}
.about-section .image-column .inner-column .author-desc span[b-54xmlosrtd]{
    font-size: 16px;
    letter-spacing: 6px;
    text-align: center;
    color: #fff;
    display: block;
    font-weight: 400;
}
.about-section .image-column .inner-column[b-54xmlosrtd]:before{
    content: '';
    position: absolute;
    width: calc(50% + 80px);
    height: calc(100% + 160px);
    top: -80px;
    left: -3px;
    background: transparent;
    z-index: 0;
    border: 44px solid #00aeef;
}

.about-section .image-column .image-1[b-54xmlosrtd]{
    position: relative;
}
.about-section .image-column .image-2[b-54xmlosrtd]{
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-section .image-column .image-2 img[b-54xmlosrtd],
.about-section .image-column .image-1 img[b-54xmlosrtd]{
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
    border-radius: 46px;
}

.about-section .image-column .video-link[b-54xmlosrtd]{
    position: absolute;
    left: 70px;
    top: 170px;
}

.about-section .image-column .video-link .link[b-54xmlosrtd]{
    position: relative;
    display: block;
    font-size: 22px;
    color: ghostwhite;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* /Pages/Friend.razor.rz.scp.css */
.logo[b-3m8hozqle2] {
    font-family: "Fira Code", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.textbs h2[b-3m8hozqle2],p[b-3m8hozqle2],h5[b-3m8hozqle2]{
    cursor: crosshair;
}
.field[b-3m8hozqle2] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[b-3m8hozqle2], textarea[b-3m8hozqle2] {
    padding: 9px;
    border-radius:3px;
    border:solid 1px #11104a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, ghostwhite, #11104a);

    transition:all 1.5s ease;
}

input:hover[b-3m8hozqle2] {
    padding: 9px;
    border-radius:3px;
    box-shadow: inset 0 0 10px #11104a;
    transition: all 0.3s ease;
}
input[b-3m8hozqle2] {
    padding: 9px;
    border-radius:5px;
    transition: all 0.3s ease;
}
label[b-3m8hozqle2] {
    margin-left: 10px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loginForm[b-3m8hozqle2] {
    padding: 5rem 0 5rem 0;
}

a[b-3m8hozqle2] {
    cursor: zoom-in;
    width: 140px;
    height: 26px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: "open sans", sans-serif;
    position: relative;
    top: 30%;
    line-height: 1.7em;
    left: 30%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    background: none;
    transition: all 0.2s ease-in-out;
}
a[b-3m8hozqle2]::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -1;
    transform: scale(0);
    transform-origin: bottom left;
    transition: all 0.3s ease-in-out 0.1s;
}
a[b-3m8hozqle2]::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -2;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s ease-in-out 0.1s;
}
a:hover[b-3m8hozqle2] {
    box-shadow: 0 0 0 2px ghostwhite;
    transition: all 0.4s ease-out;
    text-decoration: none;
    color: ghostwhite;
}
a:hover[b-3m8hozqle2]::before {
    transform: scale(1);
}
a:hover[b-3m8hozqle2]::after {
    transform: scale(1);
}
/* /Pages/Friends.razor.rz.scp.css */
.logo[b-5y1hkpzxib] {
    font-family: "Fira Code", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.textbs h2[b-5y1hkpzxib],p[b-5y1hkpzxib],h5[b-5y1hkpzxib]{
    cursor: crosshair;
}
.field[b-5y1hkpzxib] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[b-5y1hkpzxib], textarea[b-5y1hkpzxib] {
    padding: 9px;
    border-radius:3px;
    border:solid 1px #11104a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, ghostwhite, #11104a);

    transition:all 1.5s ease;
}

input:hover[b-5y1hkpzxib] {
    padding: 9px;
    border-radius:3px;
    box-shadow: inset 0 0 10px #11104a;
    transition: all 0.3s ease;
}
input[b-5y1hkpzxib] {
    padding: 9px;
    border-radius:5px;
    transition: all 0.3s ease;
}
label[b-5y1hkpzxib] {
    margin-left: 10px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loginForm[b-5y1hkpzxib] {
    padding: 5rem 0 5rem 0;
}

a[b-5y1hkpzxib] {
    cursor: zoom-in;
    width: 140px;
    height: 26px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: "open sans", sans-serif;
    position: relative;
    top: 30%;
    line-height: 1.7em;
    left: 30%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    background: none;
    transition: all 0.2s ease-in-out;
}
a[b-5y1hkpzxib]::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -1;
    transform: scale(0);
    transform-origin: bottom left;
    transition: all 0.3s ease-in-out 0.1s;
}
a[b-5y1hkpzxib]::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -2;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s ease-in-out 0.1s;
}
a:hover[b-5y1hkpzxib] {
    box-shadow: 0 0 0 2px ghostwhite;
    transition: all 0.4s ease-out;
    text-decoration: none;
    color: ghostwhite;
}
a:hover[b-5y1hkpzxib]::before {
    transform: scale(1);
}
a:hover[b-5y1hkpzxib]::after {
    transform: scale(1);
}
/* /Pages/Index.razor.rz.scp.css */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero[b-dwq30geoee] {
    width: 100%;
    height: 80vh;
    
}

#hero .container[b-dwq30geoee] {
    padding-top: 72px;
}

#hero h1[b-dwq30geoee] {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2[b-dwq30geoee] {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started[b-dwq30geoee] {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

#hero .btn-get-started:hover[b-dwq30geoee] {
    background: #209dd8;
}

#hero .btn-watch-video[b-dwq30geoee] {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
}

#hero .btn-watch-video i[b-dwq30geoee] {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#hero .btn-watch-video:hover i[b-dwq30geoee] {
    color: #47b2e4;
}

#hero .animated[b-dwq30geoee] {
    animation: up-down-b-dwq30geoee 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero[b-dwq30geoee] {
        height: 100vh;
        text-align: center;
    }

    #hero .animated[b-dwq30geoee] {
        animation: none;
    }

    #hero .hero-img[b-dwq30geoee] {
        text-align: center;
    }

    #hero .hero-img img[b-dwq30geoee] {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1[b-dwq30geoee] {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2[b-dwq30geoee] {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img[b-dwq30geoee] {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img[b-dwq30geoee] {
        width: 80%;
    }

    #hero .btn-get-started[b-dwq30geoee] {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@keyframes up-down-b-dwq30geoee {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section[b-dwq30geoee] {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg[b-dwq30geoee] {
    
}

.section-title[b-dwq30geoee] {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2[b-dwq30geoee] {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #209dd8;
}

.section-title h2[b-dwq30geoee]::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2[b-dwq30geoee]::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p[b-dwq30geoee] {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients[b-dwq30geoee] {
    padding: 12px 0;
    text-align: center;
}

.clients img[b-dwq30geoee] {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.clients img:hover[b-dwq30geoee] {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .clients img[b-dwq30geoee] {
        max-width: 40%;
    }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3[b-dwq30geoee] {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul[b-dwq30geoee] {
    list-style: none;
    padding: 0;
}

.about .content ul li[b-dwq30geoee] {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li[b-dwq30geoee] {
    margin-top: 10px;
}

.about .content ul i[b-dwq30geoee] {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}

.about .content p:last-child[b-dwq30geoee] {
    margin-bottom: 0;
}

.about .content .btn-learn-more[b-dwq30geoee] {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover[b-dwq30geoee] {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content[b-dwq30geoee] {
    padding: 60px 100px 0 100px;
}

.why-us .content h3[b-dwq30geoee] {
    font-weight: 400;
    font-size: 34px;
    color: #209dd8;
}

.why-us .content h4[b-dwq30geoee] {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.why-us .content p[b-dwq30geoee] {
    font-size: 15px;
    color: ghostwhite;
}

.why-us .img[b-dwq30geoee] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.why-us .accordion-list[b-dwq30geoee] {
    padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul[b-dwq30geoee] {
    padding: 0;
    list-style: none;
}

.why-us .accordion-list li+li[b-dwq30geoee] {
    margin-top: 15px;
}

.why-us .accordion-list li[b-dwq30geoee] {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.why-us .accordion-list a[b-dwq30geoee] {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
}

.why-us .accordion-list span[b-dwq30geoee] {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.why-us .accordion-list i[b-dwq30geoee] {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.why-us .accordion-list p[b-dwq30geoee] {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show[b-dwq30geoee] {
    display: none;
}

.why-us .accordion-list a.collapsed[b-dwq30geoee] {
    color: #343a40;
}

.why-us .accordion-list a.collapsed:hover[b-dwq30geoee] {
    color: #47b2e4;
}

.why-us .accordion-list a.collapsed .icon-show[b-dwq30geoee] {
    display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close[b-dwq30geoee] {
    display: none;
}

@media (max-width: 1024px) {

    .why-us .content[b-dwq30geoee],
    .why-us .accordion-list[b-dwq30geoee] {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .why-us .img[b-dwq30geoee] {
        min-height: 400px;
    }

    .why-us .content[b-dwq30geoee] {
        padding-top: 30px;
    }

    .why-us .accordion-list[b-dwq30geoee] {
        padding-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .why-us .img[b-dwq30geoee] {
        min-height: 200px;
    }
}
/* /Pages/Login.razor.rz.scp.css */
    

.logo[b-uejfjchll3] {
    display: none;
    
}

.textbs h2[b-uejfjchll3],p[b-uejfjchll3],h5[b-uejfjchll3]{
    cursor: crosshair;
}
.field[b-uejfjchll3] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[b-uejfjchll3], textarea[b-uejfjchll3] {
    padding: 9px;
    border-radius:3px;
    border:solid 1px #11104a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, ghostwhite, #11104a);
    transition:all 1.5s ease;
}


input:hover[b-uejfjchll3] {
    padding: 9px;
    border-radius:3px;
    box-shadow: inset 0 0 10px #11104a;
    transition: all 0.3s ease;
}
input[b-uejfjchll3] {
    padding: 9px;
    border-radius:5px;
    transition: all 0.3s ease;
}
label[b-uejfjchll3] {
    margin-left: 10px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loginForm[b-uejfjchll3] {
    padding: 5rem 0 5rem 0;
}

a[b-uejfjchll3] {
    cursor: zoom-in;
    width: 140px;
    height: 26px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: "open sans", sans-serif;
    position: relative;
    top: 30%;
    line-height: 1.7em;
    left: 30%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    background: none;
    transition: all 0.2s ease-in-out;
}
a[b-uejfjchll3]::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -1;
    transform: scale(0);
    transform-origin: bottom left;
    transition: all 0.3s ease-in-out 0.1s;
}
a[b-uejfjchll3]::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -2;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s ease-in-out 0.1s;
}
a:hover[b-uejfjchll3] {
    box-shadow: 0 0 0 2px ghostwhite;
    transition: all 0.4s ease-out;
    text-decoration: none;
    color: ghostwhite;
}
a:hover[b-uejfjchll3]::before {
    transform: scale(1);
}
a:hover[b-uejfjchll3]::after {
    transform: scale(1);
}
/* /Pages/Register.razor.rz.scp.css */
.logo[b-xa5acrxc90] {
    font-family: "Fira Code", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.textbs h2[b-xa5acrxc90],p[b-xa5acrxc90],h5[b-xa5acrxc90]{
    cursor: crosshair;
}
.field[b-xa5acrxc90] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[b-xa5acrxc90], textarea[b-xa5acrxc90] {
    padding: 9px;
    border-radius:3px;
    border:solid 1px #11104a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, ghostwhite, #11104a);

    transition:all 1.5s ease;
}

input:hover[b-xa5acrxc90] {
    padding: 9px;
    border-radius:3px;
    box-shadow: inset 0 0 10px #11104a;
    transition: all 0.3s ease;
}
input[b-xa5acrxc90] {
    padding: 9px;
    border-radius:5px;
    transition: all 0.3s ease;
}
label[b-xa5acrxc90] {
    margin-left: 10px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loginForm[b-xa5acrxc90] {
    padding: 5rem 0 5rem 0;
}

a[b-xa5acrxc90] {
    cursor: zoom-in;
    width: 140px;
    height: 26px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: "open sans", sans-serif;
    position: relative;
    top: 30%;
    line-height: 1.7em;
    left: 30%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    background: none;
    transition: all 0.2s ease-in-out;
}
a[b-xa5acrxc90]::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -1;
    transform: scale(0);
    transform-origin: bottom left;
    transition: all 0.3s ease-in-out 0.1s;
}
a[b-xa5acrxc90]::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    background: ghostwhite;
    width: 142px;
    height: 30px;
    z-index: -2;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s ease-in-out 0.1s;
}
a:hover[b-xa5acrxc90] {
    box-shadow: 0 0 0 2px ghostwhite;
    transition: all 0.4s ease-out;
    text-decoration: none;
    color: ghostwhite;
}
a:hover[b-xa5acrxc90]::before {
    transform: scale(1);
}
a:hover[b-xa5acrxc90]::after {
    transform: scale(1);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-10xswk6gls] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: ghostwhite;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p[b-10xswk6gls]{
    color: #6f6f6f;
}
main[b-10xswk6gls] {
    flex: 1;
    
}

.sidebar[b-10xswk6gls] {
    background-color: rgb(5, 39, 103);
}

.top-row[b-10xswk6gls] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-10xswk6gls]  a, .top-row[b-10xswk6gls]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-10xswk6gls]  a:hover, .top-row[b-10xswk6gls]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-10xswk6gls]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-10xswk6gls] {
        display: none;
    }

    .top-row.auth[b-10xswk6gls] {
        justify-content: space-between;
    }

    .top-row[b-10xswk6gls]  a, .top-row[b-10xswk6gls]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-10xswk6gls] {
        flex-direction: row;
    }

    .sidebar[b-10xswk6gls] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-10xswk6gls] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-10xswk6gls]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-10xswk6gls], article[b-10xswk6gls] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-w1gechgd97] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-w1gechgd97] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-w1gechgd97] {
    font-size: 1.1rem;
}

.oi[b-w1gechgd97] {
    width: 3rem;
    font-size: 2rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-w1gechgd97] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-w1gechgd97] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-w1gechgd97] {
        padding-bottom: 1rem;
    }

    .nav-item[b-w1gechgd97]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-w1gechgd97]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-w1gechgd97]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-w1gechgd97] {
        display: none;
    }

    .collapse[b-w1gechgd97] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-w1gechgd97] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
