@page "/About"
<section class="about-section">
        <div class="container">
            <div class="row">                
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">About SYNCTASK</span>
                            <h2>We are VIA Software Engineering Students </h2>
                        </div>
                        <div class="text">We are VIA University, Software Engineering program, Semester project group. <a href="https://portfolio-fullenn.vercel.app/">Guilherme Miranda</a>,<a href="https://jackspinola.vercel.app/">Jack Spinola</a> ,<a href="https://kristiansdanilovs.vercel.app/">Kristians Danilovs</a> ,<a href="https://www.blaizans.com">Bruno Laizans</a> </div>
                      <div class="text">
                          Our SEP3 project is task synchronizing app, for families, teams and just people that wants to organize their life.
                          </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one">Contact Us (youre not gonna contact us)</a>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                      <div class="author-desc">
                        <h2>JUST USUAL TASK MANAGER</h2>
                        <span style="font-weight: bold">SYNCTASK</span>
                      </div>
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="someTaskPic" src="about_pic.svg" alt=""></a></figure>
                     
                    </div>
                </div>
              
            </div>
           <div class="sec-title">
                            <span class="title">Our Future Goal</span>
                            <h2>We want to pass SEP</h2>
                        </div>
          <div class="text">
                CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP
              </div>
               <div class="text">
                 CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP
              </div>
               <div class="text">                
 CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP
                   </div>
               <div class="text">
                 CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP CAP
              </div>
               <div class="text">
                
In the end, we would like to say CAP CAP CAP CAP CAP CAP.
              </div>
        </div>
    </section>

@code {
    
}