@page "/AddTaskGroup"
@using global::Shared.Dtos
@using BlazorSyncTask.Services
@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager NavigationManager
@inject IGroupsService GroupsService

<AuthorizeView>
    <Authorized>
        <h2 class="mb-4 fw-bold text-center">ADD TASK TO THE GROUP</h2>
        @if (showLoading)
        {
            <div class="loading-screen">
                <div class="spinner"></div>
                <div>Loading...</div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-3">
                    <table class="mt-4" style="border-collapse: separate; border-spacing: 0 10px;">
                        <tr>
                            <td>
                                <label for="name" class="form-label">Name:</label>
                            </td>
                            <td>
                                <input id="name" class="form-input w-100" @bind="@createTaskDto.name"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="description" class="form-label">Description:</label>
                            </td>
                            <td>
                                <input id="description" class="form-input w-100" @bind="@createTaskDto.description"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="startDate" class="form-label">Start Date:</label>
                            </td>
                            <td>
                                <input id="startDate" class="form-input w-100" type="date" @bind="@startD"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="endDate" class="form-label ">End Date:</label>
                            </td>
                            <td>
                                <input id="endDate" class="form-input w-100" type="date" @bind="@endD"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: right;">
                               <button class="btn btn-primary" @onclick="CreateTasks">Create Task</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-3">
                    <img src="tasksfs.png" class="img-fluid animated" alt="Image description">
                </div>
                <div class="col-3">

                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    public static Task<AuthenticationState> AuthState { get; set; } = null!;

    private CreateTaskDto createTaskDto = new CreateTaskDto();
    DateTime startD = DateTime.Now.Date, endD = DateTime.Now.Date;
    private string Id;
    private bool showLoading = false;

    [Inject]
    public AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        Id = query["id"];
    }

    private async Task CreateTasks()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        createTaskDto.userId = Convert.ToInt32(authState.User.FindFirst(c => c.Type == "Id")?.Value);


        createTaskDto.startDate = startD.ToString();
        createTaskDto.endDate = endD.ToString();
        GroupsService.CreateTaskGroup(createTaskDto, Convert.ToInt32(Id));
        ShowLoading();
    }

    private async Task ShowLoading()
    {
    //loading test
        showLoading = true;
        StateHasChanged();
        await Task.Delay(500);
        showLoading = false;
        StateHasChanged();
        NavigationManager.NavigateTo($"/GroupInfo?id=" + Id + "");
    }


}