@page "/EditTask"
@using global::Shared.Dtos
@using BlazorSyncTask.Services
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavMgr
@inject ITasksService TasksService

<AuthorizeView>
    <Authorized>
        <h3>Edit Task</h3>
        @if (showLoading)
        {
            <div class="loading-screen">
                <div class="spinner"></div>
                <div>Loading...</div>
            </div>
        }
        else
        {
            <table style="border-collapse: separate; border-spacing: 0 10px;">
                <tr>
                    <td>
                        <label for="name" class="form-label">Name:</label>
                    </td>
                    <td>
                        <input id="name" class="form-input" @bind="@createTaskDto.name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description" class="form-label">Description:</label>
                    </td>
                    <td>
                        <input id="description" class="form-input" @bind="@createTaskDto.description" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="startDate" class="form-label">Start Date:</label>
                    </td>
                    <td>
                        <input id="startDate" class="form-input" type="date" @bind="@startD" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="endDate" class="form-label">End Date:</label>
                    </td>
                    <td>
                        <input id="endDate" class="form-input" type="date" @bind="@endD" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;">
                        <button class=" btn btn-primary btn-rounded" @onclick="()=>EditTasks(createTaskDto)">Edit</button>
                    </td>
                </tr>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public static Task<AuthenticationState> AuthState { get; set; } = null!;
    private CreateTaskDto createTaskDto = new CreateTaskDto();
    private TaskDTO taskDto = new TaskDTO();
    DateTime startD=DateTime.Now.Date, endD = DateTime.Now.Date;
    private bool showLoading = false;
    private string Id;
  
    [Inject]
    public AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavMgr.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        Id = query["id"];
        taskDto = await TasksService.GetTaskById(Convert.ToInt32(Id));
        createTaskDto.name = taskDto.name;
        createTaskDto.startDate = taskDto.startDate;
        createTaskDto.endDate = taskDto.endDate;
        createTaskDto.description = taskDto.description;
        createTaskDto.userId = taskDto.userId;
        
    }
    
    private async Task EditTasks(CreateTaskDto task) {
        var uri = new Uri(NavMgr.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        Id = query["id"];

        await TasksService.EditTaskById(task,Convert.ToInt32(Id));
        await ShowLoading();
        NavMgr.NavigateTo("/Tasks");
    }
    private async Task ShowLoading()
    {
    //loading test
        showLoading = true;
        StateHasChanged();
        await Task.Delay(500);
        showLoading = false;
        StateHasChanged();
        NavMgr.NavigateTo($"/Groups");
    }

    
}