@page "/"
@inject NavigationManager navMgr

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        @{
            navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
    <Authorized>
        
            <h3>Hello, @context.User.Identity.Name</h3>
        
    </Authorized>
</AuthorizeView>