@page "/Login"
@using BlazorSyncTask.Services
@inject IAuthService authService
@inject NavigationManager navMgr
<AuthorizeView>
    <NotAuthorized>
        <div class="row textbs" style="padding-top: 2rem; padding-bottom: 6rem; display: flex; flex-direction: revert;">
            <div class="offset-md-1 col-md-6">
                <h2>Wish to Log-In?</h2>
            </div>
            <div class="offset-md-3 col-md-2 logo">
                <p>synctask</p>
            </div>
            <div class="offset-md-1 col-md-6">
                <h5>Log in and continue your journey</h5>
            </div>
        </div>

        <div style="border-top: 3px solid white;  margin-right: 0; margin-left: 25%;"></div>

        <div class="loginForm">
            <div class="row">
                <div class="offset-md-3 col-md-3">
                    <div class="field">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" @bind="userName"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="field">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="text-align: center">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="password" @bind="password"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="border-top: 3px solid white; margin-right: 25%; margin-left: 0;"></div>

        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <div class="field">
                <label style="color: red">
                    @errorLabel
                </label>
            </div>
        }
        <div class="buttons" style="padding: 3rem 0 3rem 0">
            <div class="offset-md-10 col-md-2">
                <div class="field">
                    <a class="loginbtn" @onclick="LoginAsync">Log in</a>
                </div>
            </div>

            <div class="offset-md-10 col-md-2" style="padding-bottom: 2rem;">
                <div class="field">
                    <a class="signupbtn" @onclick="LoginAsync">Sign Up</a>
                </div>
            </div>
        </div>
        
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(userName, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}