@page "/Tasks"
@using Blazorise
@using Blazorise.Bootstrap
@using Blazorise.Icons.FontAwesome


<div class="container">
<div class="row">
  <div class="col">
    <table class="table text-white">
      <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Date</th>
        <th scope="col">Collaborators</th>
        <th scope="col">Progress</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>SEP</td>
        <td>10.02.1231</td>
        <td>Kris</td>
        <td>DONE</td>
      </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button">Add task</button>
    </div>
  </div>
  <div class="col">
    Calendar
  </div>
</div>
</div>

@code {
    
}