@page "/ViewTask"
@inject NavigationManager NavMgr

<AuthorizeView>
    <Authorized>
        <div>
            <p>ViewTask</p>
            <button @onclick="() => CreateTask()">Create Task</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code { 
    private async Task CreateTask()
    {
        NavMgr.NavigateTo("/Task");
    }
}